body{
 
}


.main{
  display: flex;

}


.leftBlockContainer{
  width: 30%;
  height: 100vh;
  background-color: orange;


  display: flex;
  flex-direction: column;
  align-items: center;
}



.tierlistBoard{
  display: flex;

  background-color: darkgray;
}



.playerColumns{
  display: flex;
  gap: 10px;
  padding: 10px;
}