.pickNumberContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 40px;
}


.pickNumberContainer button{
    width: 70px;
    height: 70px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
   
}


.pickNumberContainer button.selected{
    background-color: lightblue;
    border-color: blue;
}


.pickNumberContainer button.taken{
    background-color: lightgray;
    border-color: gray;
    cursor: not-allowed;
}


.confirmButton{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #212163;
    color: white;
    font-size: large;
    border-radius: 20px;
    border-color: transparent;
    cursor: pointer;

    transition-duration: 0.4s;
}
.confirmButton:hover {
    background-color: red;
}