@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@400;600;700;800&display=swap');

.pickNumberContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    column-gap: 40px;
}


.pickNumberContainer button{
    width: 90px;
    height: 90px;
    text-align: center;
    border: 1px solid #141111;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px #000000;
   
}


.pickNumberContainer button.selected{

    border: 10px;
    border-color: white;
}


.pickNumberContainer button.taken{

    
    cursor: not-allowed;
}



