
.playerColumnContainer{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}
.slots{
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}





.image-placeholder{
    width: 200px;
    height: 110px;
    background-color: #ccc;
}

.item-image{
    width: 200px;
    height: 110px;
    object-fit: cover;
    object-position: center;
}