.itemCardContainer{
    width: 400px;
    height: 400px;
   
    margin-top: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.itemCardTextContainer{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
    justify-content: center;
    gap: 90px;
}

.itemImage{
    width: 400px;
    height: 400px;

}

.itemImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.itemName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: white;
    
}