.roundCounterContainer{
    width: 100px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid;
    border-color: black;
    border-radius: 5%;
    gap: 5px;
    
}


.playRound{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;

}



.roundCounter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
